*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --accent-green: #b2dd9e;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3,
h4,
blockquote,
.testimonial p,
footer label,
footer button,
.nav-menu {
  font-family: "Bebas Neue", sans-serif;
  margin: 0;
}

/* header*/
header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5em 0 1.25em;
  z-index: 100;
}

.logo {
  font-size: 1.625rem;
  color: white;
  background: black;
  line-height: 24px;
  padding: 0.5em;
}

.logo-blue {
  color: #6889ff;
}

/* Nav */
.menu-btn {
  cursor: pointer;
  width: 2.5em;
}

.nav-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 66%;
  background-color: #363b4e;
  height: 100vh;
  z-index: 2;
  transform: translateX(100%);
  transition: transform 0.3s;
}

.nav-item a {
  color: white;
  display: block;
  padding: 0.4em 1.5em;
  font-size: 1.5rem;
  text-align: right;
}

.exit-btn {
  text-align: right;
}

.exit-btn img {
  width: 2em;
  margin: 2em;
  cursor: pointer;
}

/* Main Container*/
main {
  position: relative;
  width: 90%;
  display: flex;
  align-self: flex-end;
  flex-direction: column;
  background-color: #7988be;
}

/* Hero */
.hero {
  background: var(--accent-green);
  width: 81%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8em 1.5em;
  text-align: center;
  background-image: url("assets/streaks.jpg");
  background-color: var(--accent-green);
  background-position: 50% 55%;
  background-blend-mode: screen;
}

.hero-text {
  width: 75%;
  min-width: 200px;
}

.hero h1 {
  font-size: 3rem;
  line-height: 0.916;
}

.hero p {
  font-size: 1.125rem;
  line-height: 1.4;
  margin-top: 1.75em;
}

.drone-wrapper {
  width: 80%;
  position: relative;
  align-self: flex-end;
  margin-top: 4.4em;
}

.hero-drone {
  width: 100%;
  z-index: 3;
  position: relative;
  animation: hover 2s alternate-reverse infinite;
}

.drone-blur {
  position: absolute;
  width: 100%;
  opacity: 0.25;
  z-index: 1;
  top: 15px;
  left: 0;
  animation: pulse 2s alternate-reverse infinite;
}

@keyframes hover {
  from {
    transform: translateY(-30px);
  }
}

@keyframes pulse {
  from {
    opacity: 0;
  }
}

/* Blockquote */
.testimonial {
  position: relative;
  background-color: #303853;
  padding: 4em 2em;
  height: 75vh;
  color: white;
}

.testimonial:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.17;
  background-image: url("assets/stadium.jpg");
  background-size: cover;
  background-position: 8% 55%;
}

.testimonial blockquote {
  position: relative;
  font-size: 1.5rem;
}

.testimonial p {
  position: relative;
  font-size: 1.125rem;
  margin-top: 4em;
  padding-left: 1.5em;
}

.testimonial p:before {
  position: absolute;
  content: "";
  width: 1em;
  border-top: 1px solid white;
  left: 0;
  top: 50%;
}

/* Gallery */
.thumbnail-section {
  background-color: white;
  padding: 3em 0 2.2em 0;
}

.thumbnail-text {
  padding-right: 2em;
}

.thumbnail-section h2 {
  font-size: 2.25rem;
}

.thumbnail-section p {
  font-size: 1.125rem;
  margin: 1.5em 0;
  line-height: 1.4;
}

.thumbnails {
  margin: 3em 0 1em 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "a b c"
    "d e f"
    "g h i";
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.thumbnail-1 {
  grid-area: b;
}

.thumbnail-2 {
  grid-area: c;
}

.thumbnail-3 {
  grid-area: d;
}

.thumbnail-4 {
  grid-area: e;
}

.thumbnail-5 {
  grid-area: h;
}

/* Footer */
footer {
  width: 100%;
  background-color: #b2dd9e;
  padding-bottom: 2em;
}

footer h3 {
  display: inline-block;
  font-size: 2.25rem;
  background-color: #9fc88c;
  padding: 1em 1em 1em 10%;
}

.form-email--container {
  width: 90%;
  margin: 2em 2em 2em 10%;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;

  padding-right: 2em;
  padding-bottom: 2em;
}

form label {
  font-size: 1.5rem;
}

.email-lbl {
  margin-top: 1.25em;
}

form input {
  border: none;
  margin-top: 0.5rem;
  font-size: 1.125rem;
  padding: 1rem 0.5rem;
}

form button {
  font-size: 2.1875rem;
  line-height: 0.8;
  border: none;
  cursor: pointer;
  background-color: black;
  color: white;
  padding: 0.6em 0;
  margin-top: 1.5em;
}

.contact-container {
  font-size: 1.125rem;
  margin-top: 2em;
}

.contact-email {
  display: block;
  position: relative;
  margin-top: 1.5em;
}

.contact-email:before {
  content: "";
  width: 50%;
  border-top: 1px solid black;
  opacity: 20%;
  position: absolute;
  top: -17px;
}

.contact-email:after {
  display: block;
  content: "";
  width: 50%;
  opacity: 20%;
  border-top: 1px solid black;
  position: absolute;
  top: 33px;
}

/* Desktop */
@media screen and (min-width: 1000px) {
  html {
    font-size: 20px;
  }

  main {
    width: 80%;
  }

  .hero h1,
  .thumbnail-section h2 {
    font-size: 4.85rem;
    line-height: 0.916;
  }

  header {
    padding: 0 12.5%;
  }

  .logo {
    font-size: 1.8rem;
    padding: 0.5em 0.7em;
  }

  /* nav */
  .menu-btn {
    display: none;
  }

  .exit-btn {
    display: none;
  }

  .nav-menu {
    margin: 0;
    transform: translateX(0);
    background: none;
    position: unset;
    height: auto;
    width: 55%;
  }

  .nav-menu ul {
    display: inline-block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0;
    height: auto;
  }

  .nav-item a {
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: white;
    padding: 0 0 0 2em;
  }

  /* hero */
  .hero {
    width: 57%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 12em;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
  }

  .hero-text {
    width: 62%;
    text-align: left;
    align-self: flex-start;
    margin-left: -17%;
  }

  .hero-text p {
    font-size: 1.2rem;
    margin-top: 1.4em;
  }

  .drone-wrapper {
    width: 73%;
    min-width: 400px;
    position: absolute;
    left: 69%;
    top: 12.5em;
    margin-top: 0;
  }

  /* quote */
  .testimonial {
    padding: 15em 13.6em 15em 11.75em;
    height: auto;
  }

  .testimonial blockquote {
    font-size: 2.7rem;
    line-height: 99.6%;
  }

  .testimonial p {
    font-size: 1.8rem;
    margin-top: 1.67em;
  }

  /* thumbnails */
  .thumbnail-section {
    display: flex;
    justify-content: space-between;
    padding: 7em 0;
  }

  .thumbnail-text {
    width: 35%;
    margin-left: -10%;
    margin-right: 0;
    padding-right: 0;
  }

  .thumbnail-text p {
    font-size: 1.2rem;
  }

  .thumbnails {
    width: 65%;
    margin: 0;
    margin-top: -275px;
    z-index: 2;
  }

  /* footer*/
  footer {
    padding: 0 0 5em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  footer h3 {
    font-size: 3.2rem;
    align-self: flex-start;
    padding: 0.5em 0.5em 0.5em 12%;
  }

  .form-email--container {
    width: 76%;
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  form {
    margin: 0;
    width: 55%;
  }

  .name-lbl,
  .email-lbl {
    font-size: 1.6rem;
    margin-top: 1.625em;
  }

  form button {
    font-size: 1.75rem;
    padding: 0.9em 0;
  }

  .contact-container {
    width: 35%;
  }

  .contact-phone,
  .contact-email,
  .contact-email:before,
  .contact-email:after {
    width: 100%;
  }
}
